.allproducts{
    margin: 30px auto;
    /* width: 100%; */
    max-width: 100%;
    /* border: 2px solid; */
    text-align: center;
}
.allproducts>h1{
    -webkit-text-stroke:2px red ;
    font-size: 3rem;
}
.product-cont{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    border: 1px solid;
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-radius: 8px;
}

.product .items {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    gap: 30px;
    font-size: 1rem;
    text-wrap: nowrap;
}

.product .items .label {
    width: 30%;
    font-size: 1.1rem;
    color: rgb(105, 106, 107);
}

.product .img-cont {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.product .img-cont img {
    width: 100%;
    height: 100%;
}